week8/Labs/statemachinecode.json
{
    "Comment": "Check File Type and Process Accordingly",
    "StartAt": "CheckFileType",
    "States": {
      "CheckFileType": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.file_extension",
            "StringEquals": ".csv",
            "Next": "ProcessCSVFile"
          },
          {
            "Variable": "$.file_extension",
            "StringEquals": ".jpeg",
            "Next": "ProcessImageFile"
          },
          {
            "Variable": "$.file_extension",
            "StringEquals": ".png",
            "Next": "ProcessImageFile"
          },
          {
            "Variable": "$.file_extension",
            "StringEquals": ".jpg",
            "Next": "ProcessImageFile"
          }
        ],
        "Default": "SendFileTypeNotSupportedNotification"
      },
      "ProcessCSVFile": {
        "Type": "Task",
        "Resource": "ProcessCSVFile_ARN",
        "Parameters": {
          "bucket.$": "$.bucket",
          "key.$": "$.key"
        },
        "Next": "SendCSVSuccessNotification",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "SendCSVNotSuccessNotification"
          }
        ]
      },
      "ProcessImageFile": {
        "Type": "Task",
        "Resource": "ProcessImageFile_ARN",
        "Parameters": {
          "bucket.$": "$.bucket",
          "key.$": "$.key"
        },
        "Next": "SendImageSuccessNotification",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "SendImageNotSuccessNotification"
          }
        ]
      },
      "SendCSVSuccessNotification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "Topic_ARN",
          "Message": "CSV file processed successfully.",
          "Subject": "CSV Success"
        },
        "End": true
      },
      "SendCSVNotSuccessNotification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "Topic_ARN",
          "Message": "CSV file processing not successful.",
          "Subject": "CSV Failure"
        },
        "End": true
      },
      "SendImageSuccessNotification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "Topic_ARN",
          "Message": "Image file processed successfully.",
          "Subject": "Image Success"
        },
        "End": true
      },
      "SendImageNotSuccessNotification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "Topic_ARN",
          "Message": "Image file processing not successful.",
          "Subject": "Image Failure"
        },
        "End": true
      },
      "SendFileTypeNotSupportedNotification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::sns:publish",
        "Parameters": {
          "TopicArn": "Topic_ARN",
          "Message": "File type not supported.",
          "Subject": "File Type Not Supported"
        },
        "End": true
      }
    }
  }
  
